.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 30%;
    min-height: 50%;
    max-height: 50%;
    margin: 1em;
    overflow: hidden;
    box-shadow: 7px 7px 4px 1px rgba(0, 0, 0, 0.2);
    border: solid 0.1px rgb(199, 199, 199);
    transition: 0.5s;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}

.posts::-webkit-scrollbar {
    display: none;
}

.img_post {
    max-width: 80%;
    display: flex;
    cursor: pointer;
    transform: scale(1, 1);
    transition: 0.5s;
}

.img_post:hover {
    transform: scale(1.05, 1.05);
    transition: 0.5s;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    word-wrap: break-word;
}

.description h2 {
    margin-top: 0.5em;
}

.description p {
    margin: 0px;
}

.img_container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.2em black;
    background-color: rgb(49, 49, 49);
    overflow: hidden;
}

.hashtags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hashtags p {
    margin-right: 0.5em;
    color: rgb(62, 62, 62);
}

.core_icon {
    animation-name: like;
    animation-duration: 0.2s;
    display: flex;
    align-self: flex-start;
    margin: 0.5em;
    z-index: 1;
}

.data {
    margin: 0px;
    display: flex;
    align-items: center;
}

/* .post span{
    position: absolute;
    background-color: rgba(255, 0, 0, 0.716);
    color: #FFF;
    align-items: center;
    width: min-content;
    transition: 0.5s;
    word-wrap: break-word;
} */

.like {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

@keyframes like {
    0% {
        transform: scale(1.2, 1.3);
    }

    15% {
        transform: scale(1.3, 1.3);
    }

    25% {
        transform: scale(1.4, 1.4);
    }

    35% {
        transform: scale(1.5, 1.5);
    }

    50% {
        transform: scale(1.6, 1.6);
    }

    60% {
        transform: scale(1.5, 1.5);
    }

    75% {
        transform: scale(1.4, 1.4);
    }

    85% {
        transform: scale(1.3, 1.3);
    }

    100% {
        transform: scale(1.2, 1.2);
    }
}

@media (max-width: 780px) {
    .post{
        width: 80%;
    }
}