.botoes {
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    padding: 1em;
    transition: 0.4s;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-size: xx-large;
}

.menuul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 1s;
}

.botoes:hover {
    background-color: #FCF7FF;
    color: #929982;
}

nav {
    display: flex;
    flex-direction: row;
    width: 99%;
    justify-content: space-between;
    background-color: #929982;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.404) 0px -2px 10px 0px;
}

.brand {
    color: #333333;
    text-decoration: underline;
    font-size: xx-large;
    padding-left: 0.2em;
    font-weight: bold;
}

.menu_mobile li {
    margin: 1em;
    border-bottom: solid 1px black;
    width: 100%;
}

.icon{
    display: none;
}

@media (max-width:780px) {
    .menuul .text{
        display: none;
        transition: 1s;
    }

    .menuul .icon{
        display: flex;
        margin: 0.5em;
    }

    .botoes{
        padding: 0px;
        font-size: xx-large;
        display: flex;
    }

    .menuul{
        display: flex;
        height: min-content;
    }

}