.container {
    height: 80vh;
    width: 100%;
    background-color: #FCF7FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active{
    background-color: #333333;
}